@charset "utf-8";

.box {
  height: 80px;
  padding: 8px;
  box-sizing: border-box;
}

.box-1 {
  background: pink;
}
.box-2 {
  background: skyblue;
}

.box-3 {
  background: orange;
}
.box-4 {
  background: tomato;
}

.box-5 {
  background: silver;
}