@charset "utf-8";

body {
  margin: 0;
}

header,
main,
nav,
footer {
  padding:  16px;
  box-sizing: border-box;
}

header {
  background: pink;
}

main {
  background: skyblue;
}

nav {
  background: orange;
}

footer {
  background: silver;
}
